body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

#app {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}

h1, h2, h3 {
    color: #444;
    font-weight: 300;
}

h1 {
    text-align: center;
    background-color: rgb(125, 165, 206);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#posts-container {
    margin-bottom: 20px;
    text-align: left;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.post:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loading, #error {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.hidden {
    display: none;
}

#post-details {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#post-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#post-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.comment {
    border-top: 1px solid #eee;
    padding: 10px 0;
}

.comment p {
    font-size: 14px;
    line-height: 1.4;
}

.comment strong {
    display: block;
    margin-bottom: 5px;
}

.comment:hover {
    background-color: #f1f1f1;
}

#posts-container .post p:last-child {
    font-style: italic;
    color: #777;
}
